
.ios_pin_root {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 100%;
}
.ios_pin_row {
    display: flex;
    justify-content: center;
}

.ios_pin_text {
    border-bottom: 4px solid #99999933;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 0 30px 25px;
}
.ios_pin_number {
    display: flex;
    margin: 5px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: #99999933;
}
