
.ios_pin_root {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    height: 100%;
}

.ios_pin_dark {
    background: #000000;
}

.ios_pin_light {
    background: #000000;
}

.ios_pin_text {
    font-size: 30px;
    margin: 0 20% 50px;
    display: flex;
    justify-content: space-around;
}

.ios_pin_text_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
}

.ios_pin_row {
    display: flex;
    justify-content: center;
}

.ios_pin_number {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: #ffffff19;
}

.ios_pin_alf {
    opacity: 1.5;
    padding-top: 5px;
    font-size: 11px;
    margin-bottom: -15%;
    letter-spacing: 3px;
}

